<div class="container-fluid">
  <app-header></app-header>
  <hr />

  <div class="row">
    <div class="col-md-12">
      <app-container-list></app-container-list>
    </div>
  </div>

  <div class="row py-3">
    <div class="col-md-12">
      <app-input-file></app-input-file>
    </div>
    <div class="col-md-12">
      <app-items-uploaded class="items-uploaded"></app-items-uploaded>
      <app-items-downloaded class="items-downloaded"></app-items-downloaded>
      <app-items-deleted class="items-deleted"></app-items-deleted>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-selected-container>


        <app-items-list class="items-list"></app-items-list>


      </app-selected-container>
    </div>
  </div>




</div>